.button-simple
    font-size: 24px
    font-weight: 700
    line-height: calc(var(--fnt-size-title-tertiary) - .2rem)
    color: var(--clr-bg)

    background-color: var(--clr-secondary)

    width: fit-content

    padding: 20px 70px

    border-radius: var(--border-radius)

    &:disabled
        background-color: var(--clr-disabled)
        cursor: default

    margin-top: 45px

.button-simple_fullWidth
    width: 80%
